/* Fixed-width design */

.hero-container {
  padding-top: 80px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 34px;
}

.figure-container {
  overflow: hidden;
  color: white;
  background-color: #333;
}

figure {
  float: left;
  width: 264px;
  margin: 0 0 12px 0;
  padding: 24px;
}

figure img {
  display: block;

  background-color: pink;
  max-width: 264px;
  margin-bottom: 12px;
}
